:root {
    --vp-c-accent: #1f77a3;
    --vp-c-accent-bg: #1f77a3;
    --vp-c-accent-hover: #2790c4;
}
[data-theme='dark'] {
    // brand colors
    --vp-c-accent: #2aa2de;
    --vp-c-accent-bg: #2aa2de;
    --vp-c-accent-hover: #45c1ff;
    // match original dark background
    --vp-c-bg: #22272e;
}
